@page "/counter"
@using OpalaBlazor.Models.Dtos;
@using OpalaBlazor.Server.Services.Contracts;
@inject IUsuarioService usuarioService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
<br />
<button class="btn btn-danger" @onclick="User">Click me</button>
<br />
<br />
<h3> @user.Nome </h3>


<div class="tab-control">
    <button class="tab-button" @onclick="() => SelectedTab = 1">Tab 1</button>
    <button class="tab-button" @onclick="() => SelectedTab = 2">Tab 2</button>
    <button class="tab-button" @onclick="() => SelectedTab = 3">Tab 3</button>

    <div class="tab-content">
        @if (SelectedTab == 1)
        {
            <p>Tab 1 Content</p>
        }
        else if (SelectedTab == 2)
        {
            <p>Tab 2 Content</p>
        }
        else if (SelectedTab == 3)
        {
            <p>Tab 3 Content</p>
        }
    </div>
</div>


@code {
    private int currentCount = 0;

    private int SelectedTab { get; set; } = 1;

    public UsuarioDto user = new UsuarioDto();


    protected override async Task OnInitializedAsync()
    {
        User();
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void User()
    {
        var id = 273;
        user = await usuarioService.GetOneId(id);
    }
}
