@page "/login"
@inherits LoginBase

<div class="row m-4">
    <div class="col-4 offset-4 pt-4 pb-4 border border-2 border-dark bg-secondary bg-opacity-25 rounded-3 shadow-lg">
        <div class="mb-3 text-center">
            <h3 class="fs-1 fw-bold fst-italic">O  P A L A</h3>
        </div>
        <EditForm Model="model" OnValidSubmit="Authenticate" class="mt-4 p-4">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="form-group mb-3">
                <InputText id="login" class="form-control form-control-sm" placeholder="Login" @bind-Value="model.Login"></InputText>
                <div class="alert alert-danger d-none">
                    <ValidationMessage For="@(() => model.Login)" />
                </div>
            </div>
            <div class="form-group mb-3">
                <InputText id="senha" class="form-control form-control-sm" type="password" placeholder="Senha" @bind-Value="model.Password"></InputText>
                <ValidationMessage For="@(() => model.Password)" />
            </div>
            <div class="mb-3 d-grid gap-2 col-5 mx-auto">
                <button class="btn btn-primary">Entrar</button>
            </div>
        </EditForm>
    </div>
</div>
