@page "/login"
@inherits LoginBase

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <div class="mb-3 text-center">
            <h3>LOGIN</h3>
        </div>
        <div class="mb-3">
            <label>Login</label>
            <input class="form-control" placeholder="Login" @bind="model.Login" />
        </div>
        <div class="mb-3">
            <label>Senha</label>
            <input class="form-control" type="password" placeholder="Senha" @bind="model.Password" />
        </div>
        <div class="mb-3 d-grid gap-2">
            <button class="btn btn-primary" @onclick="Authenticate">Entrar</button>
        </div>

    </div>
</div>
