@page "/numinspecao"
@inherits NumInspecaoBase

<br />
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <EditForm Model="inspecao" OnValidSubmit="Detalhar" class="row">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="form-group mb-3 col-6">
                    <InputText id="numero" class="form-control" placeholder="Número de inspeção" @bind-Value="inspecao.Numero"></InputText>
                    <ValidationMessage For="@(() => inspecao.Numero)" />
                </div>
                <div class="mb-3 d-grid gap-2 col-1">
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (detalhe)
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <EditForm Model="inspecao" class="row">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <div class="form-group mb-3 col-6">
                        <InputText id="numero" class="form-control" placeholder="Número de inspeção" @bind-Value="inspecao.Ano"></InputText>
                        <ValidationMessage For="@(() => inspecao.Numero)" />
                    </div>
                    <div class="mb-3 d-grid gap-2 col-1">
                        <button class="btn btn-primary">Enviar</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
